@page
@model Legion1.Pages.AddressListModel

@if (Model.Legion != null)
{
<p><span>Last Selected Number: </span>@Model.Legion.Number</p>
<p><span>Time: </span>@Model.Legion.Data </p>
<p><span>Result: </span>@Model.Legion.Result</p>

    


}
